.conditioner_title {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conditioner_title h5 {
  color: #979797;
  font-weight: 550;
  font-size: 0.9rem;
}

.conditioner_title h3 {
  font-weight: bold;
  font-size: 2rem;
}

.conditioner_title p {
  color: #252525;
  font-size: 0.9rem;
  line-height: 1.7rem;
}

.conditioner_main {
  width: 100%;
}

.conditioner_main img {
  width: 100%;
}

.conditioner_sub {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}

.conditioner_sub img {
  width: calc(33.333% - 10px);
}

/* 모바일 */

@media (max-width: 599px) {

  .conditioner_title h5 {
    font-size: 0.7rem;
  }

  .conditioner_title h3 {
    font-size: 1.3rem;
  } 

  .conditioner_title p {
    font-size: 0.7rem;
  }

  .footer_wrap {
    margin-top: 3.5rem;
  }

  .footer_top p,
  .footer_bottom p {
    padding: 1rem 1rem !important;
  }
}

